@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

*, html, body{margin:0; padding:0;}
html, body{width:100%; height:100%; }
html{font-family:'Roboto', sans-serif; font-weight: 400; color:#333;}
body{position:relative; }
input:focus {outline:none;}
a{text-decoration: none; display:block;}
ul{list-style: none; }
div{box-sizing: border-box;}
.marginBottom{margin-bottom:120px; }



.App {
  width:100%;
  text-align: center;
  /* text-align: center;
  margin-left: 50pt;
  margin-right: 50pt;
  margin-top: 50pt; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.App h1{
  padding:120px 0;
  background: url(bg450.jpg)center center no-repeat ;
  background-size: cover;
  color:#fff;
}

.App h1 span{
  font-size: 22px;
  font-weight: 400;
}

#content{
  width:100%;
  max-width:1200px;
  margin:0 auto;
}

ul.info{
  margin:40px 0;
}
ul.info li{
  margin-bottom:6px;
  padding:0 40px;
  background: #F4F6F7;
  text-align:left;

}

ul.info li p{
  display: inline-block;
  line-height:2.6;
  word-break:break-all;
}
ul.info li p:first-child{
  width:210px;
  font-size:16px;
}
ul.info li p:nth-child(2){
  font-size:18px;
  font-weight:600;
}

ul.info li p>span{
  font-size:16px;
  font-weight:400;
}

ul.info li>span{
 font-size: 12px;
}

#tab_Wrap{
  width:100%;
  float: left;
  background: #F4F6F7;
  padding-top: 120px;
  padding-bottom: 80px;
}

#uncontrolled-tab-example{
  display: block;
  width:100%;
  max-width: 640px;
  margin:0 auto;
}

#uncontrolled-tab-example > .tabnav {
  float: left;
  width:100%;
  border-radius:100px;
  background: #fff;
}

#uncontrolled-tab-example > .tabnav li {
 width:50%;
 float: left;
 border-radius:100px;
 overflow: hidden;
 line-height: 2.4;
 font-size: 20px;
}

#uncontrolled-tab-example > .tabnav li a{
  color:#0D6EFD;
}

#uncontrolled-tab-example > .tabnav li a.active,
#uncontrolled-tab-example > .tabnav li a:focus{
  color:#fff;
  background: #0D6EFD;
  transition: all .5s ease-out;

}

Tab{
  clear: both;
  float: left;
  width:100%;
}

Tab > p{
  margin-top:40px;
}

Button {
  /* display: block; */
  width:400px;
  background: #0D6EFD;
  border:0;
  border-radius:100px;
  line-height: 2.3;
  font-size: 18px;
  color:#fff;
  cursor: pointer;
}

input, FormControl{
  display: block;
  width:400px;
  border:1px solid #e1e1e1;
  border-radius:100px;
  margin-bottom: 8px;
  padding:0 20px;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  color:#333;
  line-height: 2.8;
  margin-left: auto;
  margin-right: auto;
}
input::placeholder, FormControl::placeholder{font-size:14px; color:#c7c7c7; }
input::-webkit-input-placeholder, FormControl::-webkit-input-placeholder {font-size:14px; color:#c7c7c7; }
input:-ms-input-placeholder, FormControl:-ms-input-placeholder {font-size:14px; color:#c7c7c7; }

InputGroup{
  display: block;
}


/* DataTable */
#DataTable_wrap{
  clear: both;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

#DataTable_wrap .title{
  font-weight: 400;
}

#DataTable_wrap > div {
  overflow:auto;
}

#DataTable_wrap > div::-webkit-scrollbar {
    height: 14px;
}

#DataTable_wrap > div::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#DataTable_wrap > div::-webkit-scrollbar-track {
    background-color: #F4F6F7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px white;
}

#DataTable_wrap table{
  width:100%;
  margin-top: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2.4;
  white-space: nowrap;
}

#DataTable_wrap table thead{

  border-radius: 100px;
}

#DataTable_wrap table th{
  padding-left: 20px;
  padding-right: 20px;
  background: #0D6EFD;
  color:#fff;
  font-weight: 400;
}

#DataTable_wrap table td{
  font-size: 14px;
  border-bottom: 1px solid #F4F6F7;
  padding-left: 20px;
  padding-right: 20px;
}




@media ( max-width: 1200px ) {
  .padding{padding:0 10px; box-sizing: border-box;}

}


@media ( max-width: 768px ) {
  .App h1{
    padding:80px 0;
    font-size: 24px;
  }

  .App h1 span{
    font-size: 14px;
  }

  ul.info{
    margin:30px 0;
  }
  ul.info li{
    padding:20px;
  }

  ul.info li p{
    display: block;
    line-height:1.2;

  }
  ul.info li p:first-child{
    width:inherit;
    font-size:14px;
    margin-bottom: 10px;
  }
  ul.info li p:nth-child(2){
    font-size:16px;
  }

  ul.info li p>span{
    font-size:14px;
  }

  ul.info li>span{
   font-size: 12px;
  }

  #tab_Wrap{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #uncontrolled-tab-example > .tabnav li {
   line-height: 2.4;
   font-size: 16px;
  }

  Tab > p{
    margin-top:40px;
  }

  Button {
    width:100%;
    max-width: 320px;
    line-height: 2.6;
    font-size: 14px;
  }

  input, FormControl{
    width:100%;
    max-width: 320px;
    font-size: 14px;
    line-height: 2.6;
  }
}

@media ( max-width: 542px ) {
}
